.friend-list {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid #bef7c6;
  border-radius: 6px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.status {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 25px;
  display: inline-block;
}

.avatar {
  margin-right: 15px;
}
